<html>
    <head>
        <title>Contact Stored</title>
    </head>
    <body>
        <h1>You stored a contact!</h1>
        <h3>{{ newcontact.getName }}</h3>
        <h4>{{ newcontact.getPhone }}</h4>
        <p>{{ newcontact.getStreet }}</p>
        <p>{{ newcontact.getCity }}, {{ newcontact.getState }}  {{newcontact.getZip}}</p>

        <h4><a href='/'>Look at contacts</a><h4>
    </body>
</html>
